<!DOCTYPE html>

<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script th:src="@{webjars/jquery/3.2.1/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">

</script>
</head>
<body>
  	<!-- <form modelAttribute="user" th:object="${user}" border="1px" style=" border-collapse:collapse ">
		<table border="1px">
		<tr height="35px">
			<td width="100px">姓名</td>
			<td width="200px"><input th:value="${user.name}" th:field="*{name}" /></td>
		</tr>
		<tr>
			<td height="35px">id</td>
			<td><input th:value="${user.id}" th:field="*{id}" /></td>
		</tr>
		<tr>
			<td height="35px">性别</td>
			<td><input th:value="${user.sex}" th:field="*{sex}" /></td>
		</tr> -->
		<a th:href="@{/list}">新增</a>
		<table boder="1px" style="boder-collapse:collapse">
		
		
		
		
		
</table>
</body>
</html>